<%- include('./partials/header'); %>

<body>
    <div class="header-box">
        <p class="title">
            <a href="#" class="title-link"
                ><span class="title-a">Lead</span><span class="title-b">ngage</span
                ><span class="title-c">.com</span></a
            >
        </p>
    </div>

    <div class="container">
        <div class="msg_box">
            <img src="/icons/exclamation-solid.svg" alt="Failure SVG" class="msg_img_fail" />
            <div class="msg_text">Failed!</div>
            <div class="msg_desc">An error occurred, please try again.</div>
            <button type="button" class="btn btn-danger back-btn" onclick="goback()">â† Go Back</button>
        </div>
    </div>

</body>

<%- include('./partials/footer'); %>
