<%- include('./partials/header'); %>

<body>
    <div class="header-box">
        <img src="/img/leadngage_logo.png" alt="" class="img-fluid company-logo">
    </div>

    <div class="container">
        <div class="msg_box">
            <img src="/icons/exclamation-solid.svg" alt="Failure SVG" class="msg_img_fail" />
            <div class="msg_text">Failed!</div>
            <div class="msg_desc">An error occurred, please try again.</div>
            <button type="button" class="btn btn-danger back-btn" onclick="goback()">â† Go Back</button>
        </div>
    </div>

</body>

<%- include('./partials/footer'); %>
