<%- include('./partials/header'); %>

<body>
    <div class="header-box">
        <p class="title"><a href="#" class="title-link"><span class="title-a">Lead</span><span class="title-b">ngage</span><span class="title-c">.com</span></a></p>
    </div>

    <div class="index-box">
        <div>
            <img src="/img/leadengage_logo.png" class="img-fluid logo-img" alt="">
        </div>
        <form action="/path/index" method="post">
            <div>
                <a href="https://www.leadngage.com/" target="_blank" class="btn btn-success le-link-btn">Add Leadngage Now</a>
            </div>
        </form>
    </div>
    
</body>

<%- include('./partials/footer'); %>