<%- include('./partials/header'); %>

<body>

    <div class="index-box">
        <div>
            <img src="/img/leadengage_logo.png" class="img-fluid logo-img" alt="">
        </div>
        <!-- <form action="/path/index" method="post">
            
        </form> -->
        <div>
            <a href="https://www.leadngage.com/" target="_blank" class="btn btn-success le-link-btn">Add Leadngage Now</a>
        </div>

    </div>
    
</body>

<%- include('./partials/footer'); %>