<%- include('./partials/header'); %>

<body>

    <div class="index-box">
        <div class="header-box">
            <img src="/img/leadngage_logo.png" alt="" class="img-fluid company-logo">
        </div>

        <div>
            <a href="https://www.leadngage.com/" target="_blank" class="btn btn-success le-link-btn">Add Leadngage Now</a>
        </div>

    </div>
    
</body>

<%- include('./partials/footer'); %>