<%- include('./partials/header'); %>

<body>
    
    <div class="header-box">
        <img src="/img/leadngage_logo.png" alt="" class="img-fluid company-logo">
    </div>

    <div class="form-box">
        <div class="accordion accordion-custom" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    <img src="/img/leadngage_logo.png" alt="" class="img-fluid company-logo">
                </button>
                </h2>
                <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                >
                <div class="accordion-body">
                    <form
                    onsubmit="formSubmit()"
                    action = "<% action_path %>""
                    method="POST">
                        <div class="mb-3">
                            <label for="select-channel" class="form-label">Channel</label>
                            <select class="form-select" aria-label="Default select example" id="select-channel" name="channel"  onchange="onChange_select(channel)" required>
                                <option value="SMS"
                                <% if(channel === "sms"){%>
                                    selected
                                <%}%>
                                >SMS</option>
                                <option value="FB"
                                <% if(channel === "fb"){%>
                                    selected
                                <%}%>
                                >Facebook</option>
                                <option value="GMB"
                                <% if(channel === "gmb"){%>
                                    selected
                                <%}%>
                                >Google My Business</option>
                                <option value="Instagram"
                                <% if(channel === "instagram"){%>
                                    selected
                                <%}%>
                                >Instagram</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <textarea class="form-control" id="msg-text" rows="3" placeholder="Enter text" name="note" required></textarea>
                        </div>

                        <div class="form-footer">
                            <div class="input-group mb-3 btn-box">
                                <button type="submit" class="btn btn-success">
                                    <span id="btn-text">Send</span>
                                    <div style="display: none;" class="spinner-border text-light" id="loading-status" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </button>
                                <span class="input-group-text" id="basic-addon1">
                                    <select class="form-select" aria-label="Default select example" name="schedule" required
                                    <%if(channel !== "sms"){%>
                                    disabled
                                    <%}%>
                                    >
                                        <option value="none" selected>Add Delay</option>
                                        <option value="[2hr]">[2hr]</option>
                                        <option value="[2weeks]">[2weeks]</option>
                                        <option value="[30days]">[30days]</option>
                                        <option value="[60days]">[60days]</option>
                                        <option value="[90days]">[90days]</option>
                                        <option value="[delete]">[delete]</option>
                                    </select>
                                </span>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    
</body>

<%- include('./partials/footer'); %>
