<%- include('./partials/header'); %>

<body>

    <div class="form-box">
        <div class="accordion accordion-custom" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button
                    class="accordion-button accordion-btn-edit"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                >
                    <img src="/img/leadngage_logo.png" alt="" class="img-fluid company-logo">
                </button>
                </h2>
                <div
                    id="collapseOne"
                    class="accordion-collapse collapse show"
                    aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample"
                >
                    <% console.log(channel) %>
                    <% console.log("value", have_contact) %>
                    <div class="accordion-body">
                        <form
                        onsubmit="formSubmit()"
                        action = "<% action_path %>"
                        method="POST">
                            <div class="mb-3">
                                <select class="form-select" aria-label="Default select example" id="select-channel" name="channel"  onchange="onChange_select(channel)" required>
                                    <option value="SMS"
                                    <% if(have_contact === "false"){ %>
                                        disabled
                                    <% } else{ %>
                                        selected
                                    <% } %>
                                    >SMS</option>
                                    <option value="FB"
                                    <% if(channel === "FB" && have_contact === "false"){ %>
                                        selected
                                    <% } %>
                                    >Facebook</option>
                                    <option value="GMB"
                                    <% if(channel === "GMB"){ %>
                                        selected
                                    <% } %>
                                    >Google My Business</option>
                                    <option value="IG"
                                    <% if(channel === "IG"){ %>
                                        selected
                                    <% } %>
                                    >Instagram</option>
                                    <option value="OPT LEAD OUT-DND"
                                    <% if(channel === "OPT LEAD OUT-DND"){ %>
                                        selected
                                    <% } %>
                                    >OPT LEAD OUT-DND</option>
                                    <option value="Ask.Ai - Beta"
                                    <% if(channel === "Ask.Ai - Beta"){ %>
                                        selected
                                    <% } %>
                                    >Ask.Ai - Beta</option>
                                    <option value="[delete]"
                                    <% if(channel === "[delete]"){ %>
                                        selected
                                    <% } %>
                                    >Delete SMS in queue</option>
                                </select>
                            </div>

                            <div class="mb-3">
                                <textarea class="form-control" id="msg-text" rows="2" placeholder="Enter text -only text opted in contacts or people you know or know you." name="note" required></textarea>
                                
                                <textarea class="form-control" id="ai-text" rows="2" placeholder="Type in your question to AI here." name="note" required></textarea>
                            </div>

                            <div class="form-footer">
                                <div class="input-group mb-3 btn-box">
                                    <button type="submit" class="btn btn-success send-btn">
                                        <span id="btn-text">Send</span>
                                        <div style="display: none;" class="spinner-border text-light" id="loading-status" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </button>
                                    <span class="input-group-text sms-delay" id="basic-addon1">
                                        <select class="form-select" id="channel_select" aria-label="Default select example" name="schedule" required>
                                            <option value="none" selected>Add Delay</option>
                                            <option value="[2hr]">2 hr</option>
                                            <option value="[2weeks]">2 weeks</option>
                                            <option value="[30days]">30 days</option>
                                            <option value="[60days]">60 days</option>
                                            <option value="[90days]">90 days</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </form>
                        <div class="connect-login">
                            <div>
                                <form
                                    id="postForm"
                                    onsubmit="connectCall()"
                                    action = "<% action_path %>"
                                    method="POST"
                                >
                                    <button type="submit" class="btn btn-primary connect-btn" id="submitButton">
                                        <span id="call-text" style="font-weight: bold;">Call - Beta</span>
                                        <div style="display: none;" class="spinner-border text-light" id="call-loading" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </button>
                                </form>
                            </div>
                            <div style="margin-top: 10px;">
                                <a href="https://app.leadngage.com" target="_blank" class="btn btn-primary w-100" role="button" style="font-weight: bold; background: #0197d2;">LOGIN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Success!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Messages Deleted in Queue.
            </div>
        </div>
    </div>

    <% console.log(delete_success) %>
    
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<%if(delete_success){%>
    <script>
        const toastLiveExample = document.getElementById('liveToast');
        const toast = new bootstrap.Toast(toastLiveExample);
        toast.show();
    </script>
<%}%>

<%- include('./partials/footer'); %>
