<%- include('./partials/header'); %>

<body>
    <div class="header-box">
        <p class="title">
            <a href="#" class="title-link"
                ><span class="title-a">Lead</span><span class="title-b">ngage</span
                ><span class="title-c">.com</span></a
            >
        </p>
    </div>

    <div class="container">
        <div class="msg_box">
            <img src="/icons/check-solid.svg" alt="Success SVG" class="msg_img_success" />
            <div class="msg_text">Success</div>
            <div class="msg_desc">Note sent sucessfully!</div>
            <button type="button" class="btn btn-success back-btn" onclick="goback()">← Go Back</button>
        </div>
    </div>

</body>

<%- include('./partials/footer'); %>
