body{
    font-family: 'Ubuntu', sans-serif;
}

/* INDEX START */
.header-box{
    margin-bottom: 2rem;
    padding: 10px;
}
.title{
    font-weight: bolder;
    font-size: 1.4rem;
}
.title-link{
    text-decoration: none;
}
.title-a{
    color: rgb(37, 220, 0);
}
.title-b{
    color: rgb(0, 145, 255);
}
.title-c{
    color: blue;
}

.index-box{
    text-align: center;
    padding: 5%;
}
.logo-img{
    margin-bottom: 1rem;
}
.le-link-btn{
    padding: 1.5rem;
    font-size: 1.5rem;
    /* margin-left: -4rem; */
}
/* INDEX END */

/* MAIN START */
.form-box{
    padding: 1rem;
}
.accordion-custom{
    margin: auto;
    max-width: 1000px;
}

.success_toast{
    display: block;
}
/* MAIN START */

/* SUCCESS/FAILURE PAGE START */
.msg_box{
    width: 400px;
    text-align: center;
    margin: auto;
}
.msg_img_success{
    width: 7rem;
    height: auto;
}
.msg_img_fail{
    width: 2rem;
    height: auto;
}
.msg_text{
    font-size: 3rem;
}
.back-btn{
    margin-top: 2rem;
}
/* SUCCESS/FAILURE PAGE END */