body{
    font-family: 'Ubuntu', sans-serif;
}

/* INDEX START */
.header-box{
    /* margin-bottom: 2rem; */
    padding: 10px;
}
.company-logo{
    max-width: 120px;
}
.title{
    font-weight: bolder;
    font-size: 1.4rem;
}
.title-link{
    text-decoration: none;
}
.title-a{
    color: rgb(37, 220, 0);
}
.title-b{
    color: rgb(0, 145, 255);
}
.title-c{
    color: blue;
}

.index-box{
    text-align: center;
    padding: 5%;
}
.logo-img{
    margin-bottom: 1rem;
}
.le-link-btn{
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #38B649;
    /* margin-left: -4rem; */
}
/* INDEX END */

/* MAIN START */
.form-box{
    /* padding: 1rem; */
}
.form-box .accordion{
    /* margin-top: 2rem; */
}
.accordion-custom{
    margin: auto;
    max-width: 1000px;
}
.accordion-btn-edit{
    height: 40px;
}
.btn-box{
    flex-wrap: inherit;
    width: 220px;
    margin: auto;
    margin-right: 0;
}

.send-btn{
    background-color: #38B649;
}
.bottom-text{
    width: 100%;
    text-align: center;
    color: red;
    margin-top: -14px;
}
.bottom-text p{
    background-color: white;
    display: inline-block;
}
.connect-login{
    margin-top: -67px
}
.connect-btn{
    background: #0197d2;
    height: 51.2px;
}
@media (max-width: 370px) {
    .btn-box{
        width: 100%;
    }
    .connect-login{
        margin-top: 0
    }
    .connect-btn{
        width: 100%;
        height: auto;
    }
    .sms-delay{
        width: 100%;
    }
}
/* MAIN END */

/* SUCCESS/FAILURE PAGE START */
.msg_box{
    width: 400px;
    text-align: center;
    margin: auto;
}
.msg_img_success{
    width: 7rem;
    height: auto;
}
.msg_img_fail{
    width: 2rem;
    height: auto;
}
.msg_text{
    font-size: 3rem;
}
.back-btn{
    margin-top: 2rem;
}
/* SUCCESS/FAILURE PAGE END */